<style>
* {
	box-sizing: border-box;
	height: 100%;
	margin: 0;
}

a {
	text-decoration: none;
	color: #777777;
}

header {
	height: 90px;
	background-color: #4aaaa5;
	color: #ffffff;
	font-size: 36px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	line-height: 250%;
	text-align: center;
}

nav, p, footer {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

nav {
	height: 90px;
	width: 100%;
}

h1, h2, h3, h4 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

h2, h3 {
	color: #4aaaa5;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 24px;
}

h4 {
	color: #ffffff;
	font-size: 24px;
}

p {
	line-height: 200%;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4aaaa5;
    border: none;
    color: #ffffff;
    padding: 16px 32px;
    font-size: 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 200px;
    box-sizing: border-box;
}

.navbar {
	list-style-type: none;
	float: center;
	text-align: center;
	margin: 0;
	padding: 30px 0 0 0;
}

.navlink {
	border-right: 1px solid #dddddd;
	padding: 0 15px 0 15px;
	margin: 0;
	display: inline-block;
	font-size: 20px;
	color: #777777;
}

.navlink:last-of-type {
	border: none;
}

.bg-container {
	background-image: url("../images/asanoha-400px.png");
	width: 100%;
	height: auto;
	float: left;
	margin: 0;
	padding: 0;
	border-top: 3px solid #dddddd;
	border-bottom: 8px solid #4aaaa5;
}

.h2-head {
	border-bottom: 3px solid #dddddd;
	padding-bottom: 30px;
}

.h3-head {
	border-bottom: 2px solid #dddddd;
	padding-bottom: 30px;
}

aside, #main-bio, #portfolio, #contact-form {
	border: 1px;
	border-style: solid;
	border-color: #dddddd;
	padding: 30px;
}

aside {
	float: left;
	margin: 35px auto auto 40px;
	background-color: #ffffff;
}

.connect-img {
	width: 60px;
	padding-top: 30px;
	margin-right: 10px;
	float: left;
}

.text-box {
	width: 275px;
	height: 60px;
	position: relative;
	bottom: 70px;
	background-color: #4aaaa5;
	text-align: center;
	line-height: 350%;
}

.port-img {
	display: inline-block;
	float: left;
	padding: 0 25px 0 25px;
}

#main-bio, #portfolio, #contact-form {
	height: auto;
	float: left;
	margin-top: 35px;
	margin-bottom: 35px;
	background-color: #ffffff;
	overflow: auto;
}

#bio-image {
	padding-top: 30px;
	margin: 0 25px 0 0;
	float: left;
}

#bio-text {
	padding-top: 20px;
}

#port-img-wrapper {
	padding-top: 30px;
}

footer {
	background-color: #666666;
	color: #bbbbbb;
	float: left;
	margin: 0;
	padding-top: 40px;
	width: 100%;
	height: 60px;
	font-size: 12px;
	text-align: center;
}

@media screen and (max-width: 980px) {
	* {
		width: 960px;
	}

	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
	
	header {
		position: relative;
		left: 120px;
	}
	
	nav {
		height: 90px;
	}
}

@media screen and (max-width: 768px) {
	* {
		width: 768px;
	}

	.col-m-1 {width: 8.33%;}
	.col-m-2 {width: 16.66%;}
	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}

	header {
		position: relative;
		left: 20px;
	}
}

@media screen and (max-width: 640px) {
	* {
		width: 640px;
	}

	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}

	header {
		position: static;
	}


}

</style>